---
import { text } from "../../language/text";
import { Heading } from "@navikt/ds-react";
import ClientIsland from "../../components/client-island/ClientIsland";
import type { Language } from "../../types";

const language = Astro.currentLocale as Language;
---

<section>
  <Heading size="medium" level="2">
    {text.title[language]}
  </Heading>
  <ClientIsland client:only="react" />
</section>
