---
import { text } from "../language/text";
import { Heading } from "@navikt/ds-react";
import type { Language } from "../language/language";
import AstroIslandExample from "@src/components/astro-island/AstroIsland.astro";

const language = Astro.currentLocale as Language;
---

<section>
  <Heading size="medium" level="2">
    {text.title[language]}
  </Heading>
  <AstroIslandExample server:defer />
</section>
