---
import { text } from "../language/text";
import type { Language } from "../language/language";
import styles from "./Layout.module.css";

const language = Astro.currentLocale as Language;
---

<!doctype html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{text.title[language]}</title>
    <link rel="preload" href="https://cdn.nav.no/aksel/@navikt/ds-css/6.16.2/index.min.css" as="style" />
    <link rel="stylesheet" href="https://cdn.nav.no/aksel/@navikt/ds-css/6.16.2/index.min.css" />
  </head>
  <body class="main">
    <main class={styles.container}>
      <slot />
    </main>
  </body>
</html>
